<p id="notice"><%= notice %></p>

<p>
  <b>Piadineria:</b>
  <%= @listino_piadine.piadineria_id %>
</p>


<%= link_to 'Edit', edit_listino_piadine_path(@listino_piadine) %> |
<%= link_to 'Back', listino_piadines_path %>
